*.iml
*.ipr
*.iws
*.log
*.log.*

.gradle/
.idea/
.vscode/
out/

node_modules/
/src/*/resources/static/lib/
build/
/*.properties
/src/*/resources/application-*.properties
/src/*/resources/application-*.yml
