<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=7"/>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>addIssue</title>
    <META content="" name="keywords">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/select2-4.0.1/dist/css/select2.css">
    <style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }

        table tr:nth-child(odd) {
            background-color: #f2f2f2;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }

    </style>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/select2-4.0.1/dist/js/select2.js"></script>
    <script  src="/lib/angular/angular.min.js"></script>
    <script  src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-resource/angular-resource.js"></script>
    <script src="/lib/ui-select2-master/src/select2.js"></script>
    <script src="/scripts/controller/addIssueCtrl.js"></script>

</head>
<body ng-app="myApp" ng-controller="myCtrl as mc">
<h2>添加新的Issue</h2>
<div>
    <form novalidate>
        <table border="0">
            <tr>
                <td>仓库:</td>
                <td>
                    <select ng-model="addIssue.repository" ng-options="item.name for item in repository1" ng-change="show(addIssue.repository.name)"></select>
                </td>
            </tr>
            <tr>
                <td>标题:</td>
                <td><input type="text" ng-model="addIssue.issue.title">
                </td>
            </tr>
        <tr>
                <td>描述:</td>
                <td><input type="text" ng-model="addIssue.issue.bodyText">
                </td>
            </tr>
            <tr>
                <td>状态:</td>
                <td><input type="radio" name="state" value="open" ng-model="addIssue.issue.state"/>开启
                    <input type="radio" name="state" value="close" ng-model="addIssue.issue.state"/>关闭
                </td>
            </tr>
            <tr>
                <td>标签:</td>
                <td>
                    <select class="form-control" ui-select2="{ allowClear: true}" multiple="multiple" ng-model="addIssue.issue.labels" ng-options="x.name for x in labels1" >

                    </select>

                </td>
            </tr>

                <tr>
                    <td>里程碑:</td>
                    <td>
                        <select ng-model="addIssue.issue.milestone"  ng-options="x.title for x in milestone">

                            </select>

                    </td>
                </tr>

                <tr>
                    <td>执行人:</td>
                    <td>
                        <select ng-model="addIssue.issue.assignee" ng-options="x.login for x in assignees">
                        </select>

                    </td>
                </tr>
            <tr>
                <td></td>
                <td>
                    <button value="submit" ng-click="submit(addIssue)">添加</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>