<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=7"/>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>导航条</title>
    <META content="" name="keywords">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/mycss.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <base href="/index.html" />
</head>
<body ng-controller="indexGitCtrl as ic" class="ng-cloak">

<div style="text-align:center;">
    <img src="images/logo.png" alt=""/>
</div>
<div class="container" id="main" role="main">
    <ul class="menu">

        <li><a href="#">GitHub统计</a>
            <ul class="submenu">
                <li><a href="/gitHubApi/week">周查询</a></li>
                <li><a href="/gitHubApi/detail">详细查询</a></li>
                <li>
                    <a href="#" ng-click="bt(3)">工作曲线图</a>
                    <div ng-show="myChart">
                        <ul>
                            <li >
                                <select ng-model="assignee" ng-options="item.login for item in assignees" ng-change="modifyDiv1(assignee.login)">
                                    <option value="">选择用户</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

        <li class="active"><a href="#">仓库</a>
            <ul class="submenu">
                <li><a href="/gitHubApi/addRepository">创建新仓库</a></li>
                <li><a href="/gitHubApi/repositoryList">查看仓库</a></li>
            </ul>
        </li>
        <li><a href="#">标签</a>
            <ul class="submenu">
                <li><a href="/gitHubApi/label/addLabel">添加标签</a></li>
                <li>
                    <a href="#" ng-click="bt(1)">标签列表</a>
                    <div ng-show="myLabel">
                        <ul>
                            <li >
                                <select ng-model="repository" ng-options="item.name for item in repository1" ng-change="modifyDiv(repository.name)">
                                    <option value="">选择仓库</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li><a href="#">里程碑</a>
            <ul class="submenu">
                <li><a href="/gitHubApi/addMilestone">添加里程碑</a></li>
                <li>
                    <a href="#" ng-click="bt(2)">里程碑列表</a>
                    <div ng-show="myMilestone">
                        <ul>
                            <li >
                                <select ng-model="repository" ng-options="item.name for item in repository1" ng-change="modifyDiv2(repository.name)">
                                    <option value="">选择仓库</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>

        <li><a href="#">Issue</a>
            <ul class="submenu">
                <li><a href="/gitHubApi/addIssue">添加Issue</a></li>
            </ul>
        </li>
    </ul>
    <div ng-view></div>
</div>



</body>
<!--==========我是JS的分隔线~=====================================================================-->

<script data-main="/scripts/appGit.js" src="/lib/requirejs/require.min.js"></script>



</html>