/*github统计页面*/
.width1140px{width:1140px;margin:0 auto;}
.h-home{width:100px;border:1px solid #ccc;background:#ccc;line-height:30px;text-align:center;}
.h-float{float:right;}
.h-home a{color:#fff;text-decoration:none;}
.clearfix{clear:both;}
.input-k{width: 100px}


/*新建仓库*/
